.update-employee {
    background-color: #FDEBD0; 
    padding: 2vw; 
    border-radius: 10px;
    box-sizing: border-box; 
    min-height: 100vh; 
}

.form-update{
    background-color: #ffffff;
    border-radius: 10px;
    padding: 1vw; 
    margin-left: 10vw;
    margin-right: 10vw;
    box-sizing: border-box; 
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; 
}

.name-group, .email-group {
    margin-bottom: 1vw; 
    width: 60%;
}

.name-field, .email-field {
    width: 60%; 
    padding: 1vw; 
    padding-left: 5vw;
    padding-right: 5vw;
    border-radius: 5px;
    border: 1px solid #D98880; 
}

.submit-button {
    margin-top: 2vw; 
    width: 100%; 
}

.submit-button button {
    background-color: #D98880; 
    color: white;
    padding: 1vw 1vw; /* Увеличиваем вертикальный padding */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 30%; 
    text-align: center; /* Выравниваем текст по центру */
}

.submit-button button:hover {
    background-color: #C0392B; 
}
